@import "tailwindcss";

@font-face {
  font-family: "helvetica";
  src: url("./assets/fonts/Helvetica.ttf");
  font-family: "helveticaBold";
  src :url("./assets/fonts/HelveticaBoldCondensed.otf");
  font-family: "helveticaRoundedBold";
  src :url("./assets/fonts/helvetica-rounded-bold.otf");

}

.font-helvetica {
  font-family: "helvetica", sans-serif;
}
.font-helveticaBold {
  font-family: "helveticaBold", sans-serif;
}

.font-helveticaRoundedBold {
  font-family: "helveticaRoundedBold", sans-serif;
}
